html {
  background-color: plum;
  color: white;
  font-family:'Trebuchet MS', sans-serif;
  text-align: center;
  }

h1 {
  background-color: plum;
  color: lightBlue;
  font-family:'Trebuchet MS', sans-serif;
  text-align: center;
  }

h2 {
  background-color: plum;
  color: lightBlue;
  font-family:'Trebuchet MS', sans-serif;
  text-align: center;
  }
