html {
  background-color: plum;
  color: white;
  font-family:'Century', sans-serif;
  text-align: center;
  }

h1 {
  background-color: plum;
  color: lightBlue;
  font-family:'Century', sans-serif;
  text-align: center;
  }
